<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Harry Design - Best prices for concrete work!</title>
    <meta name="description"
        content="Get the cheapest price for any kind of concrete work, french drain installation, foundation repair and mini excavation with high quality here!">
    <meta name="keywords"
        content="Contractor, Concrete, Balcony, Stairs, Wall, Sidewalk, French Drain, Foundation Repair, Mini excavation">
    <meta name="author" content="Harry Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/light-box.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <style>
        @media (min-width : 721px) {
            #concrete {
                margin-left: 31px;
            }
        }

        @media (max-width : 720px) {
            #concrete {
                width: 227px;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
            }

            #listOfWork {
                color: white !important;
                margin-left: 0px !important;
                position: absolute !important;
                top: 57px !important;
                z-index: 100 !important;
                left: 6px !important;
                font-size: 2.5vw !important;
            }

            #email {
                color: white !important;
                position: absolute !important;
                z-index: 100 !important;
                font-size: 2.7vw !important;
                width: 143px;
                margin: auto;
                top: 0px !important;
                left: 0px !important;
                right: 0px !important;
                bottom: 0px !important;
                margin-top: 105px;
            }

            #call {
                width: 325px;
                height: 70px;
                top: 0px !important;
                left: 0px !important;
                right: 0px !important;
                bottom: 0px !important;
                margin: auto;
                margin-top: 50px;
                background-color: black;
                position: absolute;
                padding: 10px;
                text-align: center;
                border-right: solid;
                border-bottom-right-radius: 112%;
                border-color: black;
                border-bottom-left-radius: 100%;
            }

            @media (orientation: landscape) {
                #email {
                    font-size: 2.7vh !important;
                }
            }
        }
    </style>
</head>

<body>

    <nav style="background-color:black;">
        <div class="logo">
            <a id="concrete" href="index.html">Harry<em>Design.ca</em></a>
            <small id="listOfWork" style="color:white;margin-left:50px;position:absolute;top:33px;"><em> Balcony |
                    Stairs | Walls | Sidewalk | French Drain | Foundation Repair | Mini-Excavation </em></small>
            <small id="email"
                style="color:white;right:15px;position:absolute;top:26px;font-size: 1vw;">Harryhelvali@hotmail.com</small>
            <div id="call" style="width: 325px;
            background-color: black;
            position: absolute;
            top: 51px;
            left: 10px;
            padding: 10px;
            text-align: center;
            border-right: solid;
            border-bottom-right-radius: 112%;
            border-color: black;
            border-bottom-left-radius: 100%;">
                <h3 style="color:white;"><em>Call</em> (514) 264 0478</h3>
            </div>
        </div>
        <span></span>
        </div>
    </nav>

    <div style="margin-top: 4vw;" class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/1.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony</em> & <em>Deck</em> Floor</h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/1.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/14.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony &</em> Walkway</h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/14.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/2.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/2.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/3.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/3.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/5.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/5-s.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/6.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony &</em> Walkway</h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/6-s.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/7.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony &</em> Walkway</h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/7.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/9.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Balcony</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/9.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/11.jpeg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Concrete <em>Stairs &</em> Walkway</h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/11.jpeg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/frenchdrain.jpg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>French <em>Drain</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/frenchdrain.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/miniexcavation.jpg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Mini <em>Excavation</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/miniexcavation.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="img/imgs/foundationrepair2-s.jpg" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Foundation <em>Repair</em></h1>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="img/imgs/foundationrepair2-s.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2020 HarryDesign.ca

                </p>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div id="modal" class="modal">
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="header-title">Say hello to <em>Highway</em></h3>
                <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Your name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email"
                                        placeholder="Your email..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Your message..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>

</html>
